@import "tailwindcss";

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.food-card {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.food-card:hover {
  background-color: rgb(243, 243, 243);
  transform: scale(1.07);
}
.details-container:hover {
  background-color: rgb(244, 243, 243);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
